body {
    background-color: #334349;
    margin: 0;
}

/* main screen */
#view-highscores {
    color: black;
    text-decoration: none;
    border: none;
    font-size: 25px;
    background-color: transparent;
}

#view-highscores:hover {
    text-decoration: underline;
    color: #9dd0cc;
}

/* timer */
#timer,
#time {
    font-size: 20px;
    margin-right: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    float: right;
}

.start h1 {
    text-align: center;
}

.wrapper {
    display: flex;
    justify-content: center;
}


#instructions {
    text-align: center;
    padding-top: 150px;
    font-size: 25px;
    line-height: 50px;

}

/* start button centered on page */
#start-btn {
    background: radial-gradient(circle, #9dd0cc 0%, #5a9786 100%);
    border-radius: 2px;
    color: #13293d;
    cursor: pointer;
    font-size: 2em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 255px;
    padding: 20px 52px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    margin-left: 37%;
}

/* start button centered on all screen sizes */
@media only screen and (max-width: 500px) {
    #start-btn {
        margin-left: 30%;
    }
}

/* Question screen */
#question-screen {
    margin: 0;
}

#question {
    margin-top: 35%;
}

#question-screen,
button {
    display: block;
}

/* answeres styled to match start button */
.btn-style {
    background: radial-gradient(circle, #9dd0cc 0%, #5a9786 100%);
    border-radius: 2px;
    color: #13293d;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 20px;
    max-width: 255px;
    padding: 20px 50px;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 0.6em;
    width: 300px;
}

hr {
    border: 2.5px solid black;
    padding-right: 100%;
}

/* End screen */
#end-screen,
h2 {
    font-size: 25px;
    margin-top: 15%;
}

.done {
    font-size: 40px;
    padding-left: 100px;
}

input {
    padding: 8px 20px;
    margin: 8px 0;
    border-radius: 2px;
    border-color: #5a9786;
    border-style: none;
    background: transparent;
    outline: #5a9786 solid 2px;
}

#submit-btn {
    background: radial-gradient(circle, #9dd0cc 0%, #5a9786 100%);
    border-radius: 2px;
    color: #13293d;
    cursor: pointer;
    font-size: 1.5em;
    letter-spacing: 0.21px;
    line-height: 16px;
    max-width: 300px;
    padding: 17px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 1em;
    margin-left: 35%;
}

/* Highscores page */
#reset-screen, ol {
    display: block;
    padding-top: 160px;
    font-size: 25px;
    margin: 0;
    padding-left: 150px;
    margin-right: 170px;
}

.reset-btn-style {
    display: inline-block;
    background: radial-gradient(circle, #9dd0cc 0%, #5a9786 100%);
    border-radius: 2px;
    color: #13293d;
    cursor: pointer;
    font-size: 20px;
    letter-spacing: 0.21px;
    line-height: 16px;
    padding: 10px 26px;
    text-align: center;
    transition-duration: 0.15s;
    transition-property: background-color;
    transition-timing-function: linear;
    margin-top: 1em;
}